html{
    background-color: #000000;
    font-size: 120%;
}
    /* Barra de Navegação */
 
#navbar {
    background-color:#161616;
    width: 120%;
    position: fixed;
    top: -70px;
    padding-left: 14%;
    transition: top 0.3s;

}

#navbar a{

    display: inline-block;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    vertical-align: middle;
    
}
#navbar a:hover{
    background-color: aqua;
    color: #161616;

}
#navbar a img{
    width: 40px;
    vertical-align: middle;
}
/*=============================================================*/
            

.background{  
    /* Imagem de fundo Principal */
    padding-top: 21%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-sizing: border-box;
    height: 950px;;
    

    
}
.cont-back{

    box-sizing: border-box;
    text-align: center;
    
}
.background .nome-titulo {

    font-size: 10ch;
    
}


/*=============================================================*/
                /* Container Sobre mim */                                   

.sobre{
    /* ajusta o conteudo dentro do container */
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0%;
}

.container{
/*======== Define o tamanho fixo de cada container ======== */
    height: 70vh; 
    background-color: #161616 

}

.sobre-imagem{
/*======== Ajusta a imagem dentro do container ======== */
    width: 19%;
    margin: 10px;
  
}

.sobre-imagem img{
    /* ======== Ajusta o tamanho da imagem de perfil ======== */
    width: 100%;
    border: 5px solid #FFF;
    border-radius: 100%;

}

/*======== Configuracoes do texto no container sobre ============*/
.sobre-descricao{
    padding-left: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
}
.sobre-h2{
    color: #fff;
    font-size: 1.5em;   
}
.sobre-sub{
    color: #fff;
    font-size: 1em;
    text-align: center;
}
.linha{
    height: 3px;
    border: none;
    background-color: aqua
}
.sobre-nome{
    color: aqua;
    font-size: 2em;
}
.sobre-tag{
    color:aqua;
    font-size: 2em;
}
.sobre-ola{
    font-size: 2em;
    text-align: center
}
.sobre-p{
    text-align: center;
}

/*=============================================================*/
                    /* Container Skills */    

.container-skills{
    padding-top: 5%;
    height: auto;
    padding-bottom: 10%;
    background-color: #171717
}
.skills{
    overflow: hidden;
    display: inline-flex;
    text-align: center;
    width: 100%;
}
.skills div{
    
    width: 100%;
    height: 30%;
    color: #fff;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet       MS', sans-serif;
    margin: 1%;
    
}   
.skills div a{
    text-decoration: none;
}
.skills-main{
    font-size: 2em;
}
.skills-sub{
    
    color: aqua;
    font-size:  1.25em;
    border: none;
}
 

/*=============================================================*/
                    /* Container Projetos */   
                    
#borda-projetos{
    color: #fff;
    text-align: center;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 5%;
}
.linha-projetos{
    
    height: 5px;
    border: none;
    background-color: aqua;
    width: 50% ;
}
.projetos-varios{
    padding: 10px;
    display: inline-flex;
    margin: 0 auto;
}
.box-projetos{
    margin: 10px;
}
.projetos1 img{
    height: 10em;
    border: 3px solid aqua
}
.projetos2 img{
    height: 10em;
    border: 3px solid aqua
}

/*=============================================================*/
                    /* Container Footer */   


.container-footer{
    height: 75px;
    background-color: #000000;
}
.copyright{
    vertical-align: middle;
    display: inline-flex;
    margin: 30px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}